{% extends "plantilla.html" %}

{% block body %}
<div class="container mt-4">
    <h1>Editar Material</h1>
    <form method="post" enctype="multipart/form-data" id="frm_edit_material">
        {% csrf_token %}
        <input type="hidden" id="archivo_existe" name="archivo_existe" value="{% if material.archivo %}true{% else %}false{% endif %}">
        <div class="mb-3">
            <label for="titulo" class="form-label">Título</label>
            <input type="text" id="titulo" name="titulo" class="form-control" value="{{ material.titulo }}">
        </div>
        <div class="mb-3">
            <label for="descripcion" class="form-label">Descripción</label>
            <textarea id="descripcion" name="descripcion" class="form-control" rows="3">{{ material.descripcion }}</textarea>
        </div>
        <div class="mb-3">
            <label for="archivo" class="form-label">Archivo</label>
            <input type="file" id="archivo" name="archivo" class="form-control">
            {% if material.archivo %}
            <p>Archivo actual: 
                <a href="{{ material.archivo.url }}" target="_blank">{{ material.archivo.name }}</a>
            </p>
            {% endif %}
        </div>
        <button type="submit" class="btn btn-warning">Guardar Cambios</button>
        <a href="{% url 'listadoClase' %}" class="btn btn-danger">Cancelar</a>
    </form>
    <br><br>
</div>
<script>
    $("#frm_edit_material").validate({
    rules: {
        "titulo": {
            required: true,
            minlength: 3,
            maxlength: 255
        },
        "descripcion": {
            required: true,
            minlength: 10,
        },
        "archivo": {
            required: function () {
                return $("#archivo_existe").val() === "false";
            }
        },
    },
    messages: {
        "titulo": {
            required: "Por favor, ingresa un título.",
            minlength: "El título debe tener al menos 3 caracteres.",
            maxlength: "El título no puede exceder los 255 caracteres."
        },
        "descripcion": {
            required: "Por favor, ingresa una descripción.",
            minlength: "La descripción debe tener al menos 10 caracteres.",
        },
        "archivo": {
            required: "Por favor, ingresa un archivo.",
        },
    },
    errorClass: "text-danger",
    errorElement: "small",
    highlight: function(element) {
        $(element).addClass("is-invalid");
    },
    unhighlight: function(element) {
        $(element).removeClass("is-invalid");
    }
});
</script>
{% endblock %}

